
.font-titulo{
    font-family: 'Pacifico', cursive;
}
.img-carrosel {
    object-fit: cover;
    height: 400px;
    object-position: 0 80%;
}

.cor-especial{
    color: darkred !important;

}

.botao-cor{
    background-color:darkred !important ;
    color: white !important;
}
.card-posicao-img{
    object-fit: cover;
    height: 200px;
}
.card-largura{
    max-width: 18rem;
}